doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Test

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 Mistwalker
      section
        h2 Nama Anggota
        ul
          li Arsena Agung Dermawan
          li Abrar Endra
          li Hanif Hadimas Tuakunia
          li M.Riza Bagaskara
      section
             h2 internet.org
             h3 "internet tampa pulsa untuk semua"
      section
        h3 Apa itu internet.org?
      section
        h3 internet.org di Indonesia
      section
        h2 Beberapa servis yang bisa diakses oleh Internet.org
        ul
          li Kompas.com
          li Facebook
          li Ask
          li Merdeka
          li Wikipedia
          li Tokopedia
          li dsb.
    script(src='build/build.js')
